#list-dot {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 12px;
    height: 12px;
    border: 1px solid #d1d2d4;
    border-radius: 50%;
    margin: 0;
    margin-right: 16px;
}

.dot.active {
    background-color: #fff;
}
