.navigate {
    display: flex;
}

li {
    margin-right: 14px;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 600;
}

li a {
    color: #221f20;
}

li a:hover {
    color: brown;
}

.text-red-color,
.text-red-color:hover {
    color: #ff0000;
}
